<div class="foot">
		<div class="dw_b">
		 	<div id="ymdbl"><a href="__APP__/Listtype/index/typeId/124" >关于农商行</a>&nbsp;|&nbsp;<a href="__APP__/Listtype/index/typeId/131" >农商快讯</a>&nbsp;|&nbsp;<a href="javascript:viod(0)" >媒体关注</a>&nbsp;|&nbsp;<a href="__APP__/Listtype/index/typeId/133" >服务公示</a>&nbsp;|&nbsp;<a href="__APP__/Listtype/index/typeId/140" >联系我们</a>&nbsp;|&nbsp;<a href="__ROOT__/admin.php">进入后台</a>
		 	</div>
		 	<p class="left txt_12 col_6 marl15" >版权所有@晋中开发区农村商业银行&nbsp; &nbsp; 晋ICP备18003828号</p>
		 	<p class="left txt_12 col_6 marl15"  padding-left: 10px >基金代销业务资格   批准文号/资格证书编号&nbsp; &nbsp;00000121</p>    
			<div class="clear"></div> 
		</div>
		<a href="#"><img style="width:300px;" class="right marr30" src="__ROOT__/public/images/bottomL.png"></a>
		<div class="clear"></div> 
	</div>